.center {
  /* max-height: fit-content; */
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: unset;
  margin: 0;
  align-content: center;
  padding: 0;
  align-content: center;
  text-align:center;
  line-height: 1.8em;
}
.mode {
  align-self: flex-end;
  align-content:center ;
}
/* body{
  padding:0% 3% 10% 3%;
  align-content: center;
  text-align:center;
  } */
#logo {
  width: 100px;
  height: 100px;
}

  button{
      cursor: pointer;
      border: 1px solid #555;
      text-align: center;
      padding: 5px;
      margin-left: 8px;
  }
  .dark{
      background-color: rgb(0, 0, 0);
      color: #e6e6e6;
  }

.text_field {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

